<div>
    <h1>{{ item_id }} item</h1>
    <form action="" method="post">
        <div>
            <label for="Home">Home</label>
            <input value="{{form_data.home_team}}" type="text" name="home_team">
        </div>
        <div>
            <label for="Away">Away</label>
            <input value="{{form_data.away_team}}" type="text" name="away_team">
        </div>
        <div>
            <label for="HomeGoals">HomeGoals</label>
                <input value="{{form_data.home_goals}}" type="number" name="home_goals">
        </div>
        <div>
            <label for="AwayGoals">AwayGoals</label>
            <input value="{{form_data.away_goals}}" type="number" name="away_goals">
        </div>
        <div>
            <label for="Date">Date</label>
            <input value="{{form_data.date}}" type="date" name="date">
        </div>
        <div>
            <label for="Date">Result</label>
            <input value="{{form_data.result}}" type="text" name="Result">
        </div>
        <div>
            <input type="submit">
            <input type="reset">
        </div>
    </form>
</div>