{% extends 'layout.html' %}
{% load static%}

{% block title %}
Dao Football
{% endblock %}

{% block content %}
<section class="pt-5">

        <h1 class="title">About us</h1>
        <div class="card">
                <p>Our website is being developed to provide users with a comprehensive platform for accessing and
                        analyzing data related to Football. By providing a user-friendly interface and football mathces
                        prediction, the app aims to empower users to gain insights from data and and entertainment.</p>
        </div>
        <div class="row">
                <img class="col-12 col-sm-4" src="{%static 'scikit-learn.png'%}" alt="" >
                <img class="col-12 col-sm-4" src="{%static 'kaggle.png'%}" alt="" >
                <img class="col-12 col-sm-4" src="{%static 'prem.png'%}" alt="" >
        </div>


</section>


{% endblock %}