{% extends 'layout.html' %}
{% load static%}
{% block title %}
Dao Football
{% endblock %}

{% block content %}

<section>
    <h1>Upcoming Matches</h1>
</section>
<section>
<img src = "{%static 'EPL Logo.png'%}"
<img src =""width="250px"/>
</section>

<section> 
    <center><h2>Match 1</h2>  
        <img src ="{%static 'arsenal.png'%}" width = "75px"> VS
    
        <img src ="{%static 'spurs.png'%}" width = "75px"> 
    </center>  
    <center><h2>Match 2</h2>  
        <img src ="{%static 'chelsea.png'%}" width = "75px"> VS
    
        <img src ="{%static 'manutd.png'%}" width = "75px"> 
    </center>  
</section>



    {% endblock %}