{% extends 'layout.html' %}
{% load static%}
{% block title %}
Dao Football
{% endblock %}

{% block content %}

<section class="py-5 ps-3 d-flex d-md-block flex-column ">
    <h1 class="text-primary fw-bold">Welcome to DAO Football !</h1>
    <p class="m-0 ms-md-5 mt-md-4 ">DAO Football empowering Fans with Precision Predictions. Join us for unparalleled insights into
        Premier League matches through our advanced data analytics and community-driven platform.</p>
</section>
<section class="text-primary">
    <h1 class="text-center mb-5 fw-bolder">Our feature(s)</h1>
    <div class="row justify-content-evenly">
        <div class="home-card col-md-12 col-lg-4 flex-column align-items-center gap-1">
            <div class="title">
                <h3>Pediction</h3>
            </div>
            <div>
                <p class="mt-2">At Dao Football Prediction, we leverage a decade of Premier League data to deliver match
                    predictions with precision. </p>
            </div>
            <a class="btn btn-secondary align-self-end" style="border-radius: 40px; " href="/prediction"> GO >></a>
        </div>
        <div class="home-card col-md-12 col-lg-4 flex-column align-items-center gap-1">
            <div class="title">
                <h3>Teams</h3>
            </div>
            <div>
                <p class="mt-2">
                    Delve into the world of Football teams with Dao Football Teams, your one-stop destination for team
                    information.
                </p>
            </div>
            <a class="btn btn-secondary align-self-end" style="border-radius: 40px;" href="/teams"> GO >></a>
        </div>
        <div class="home-card col-md-12 col-lg-4 flex-column align-items-center gap-1">
            <div class="title">
                <h3>About Us</h3>
            </div>
            <div>
                <p class="mt-2">You would like to know more about us?  The technology we use to do. You can gain the information from here </p>
            </div>
            <a class="btn btn-secondary align-self-end" style="border-radius: 40px;" href="/about"> GO >></a>
        </div>

    </div>



</section>



{% endblock %}