{% extends 'layout.html' %}
{% load static%}
{% block title %}
Dao Football
{% endblock %}

{% block content %}

<section class="py-5 ps-5 ">
    <h1 class="text-primary">Welcome to DAO Football !</h1>
    <p class="ms-5 mt-4">We are here to oadwowakdowad</p>
</section>
<section class="text-primary">
    <h1 class="text-center mb-5">Our feature(s)</h1>
    <div class="row justify-content-evenly">
        <div class="col-4">
            <div class="btn btn-main">
                <h3>Pediction</h3>
            </div>
            <div>
                <p>wdaidjiowadjowajdawjdowajiodjawawdawdawdwadada</p>
            </div>
            <div class="btn btn-main">GO >></div>
        </div>
        <div class='col-4'>
            <div class="btn btn-main">
                <h3>Pediction</h3>
            </div>
            <div>
                <p>wdaidjiowadjowajdawjdowajiodjawawdawdawdwadada</p>
            </div>
            <div class="btn btn-main">GO >></div>
        </div>
        <div class='col-4'>
            <div class="btn btn-main">
                <h3>Pediction</h3>
            </div>
            <div>
                <p>wdaidjiowadjowajdawjdowajiodjawawdawdawdwadada</p>
            </div>
            <div class="btn btn-main">GO >></div>
        </div>
       
    </div>



</section>



{% endblock %}